.artist-profile-container {
  .artist-profile-heading {
    width: 100%;
    height: 250px;
    background-position: center;
    background-clip: fit;
    position: relative;
  
    .back-button {
      position: absolute;
    }

    .profile-pic {
      position: absolute;
      top: 125px;
      left: 20px;
      border-radius: 50%;
      z-index: 400;
    }
  
    .artist-name {
      position: absolute;
      top: 200px;
      left: 250px;
    }
  }

  .artist-profile-body{
    max-width: 90%;
    margin: auto;
    .artist-profile-overview {
      margin: 50px auto;
      .fan-container {
        .fan-circle {
          width: fit-content;
          font-size: 20px;
        }
      }
    }
  }
}
