.submmitedFormsCard {
  padding: 20px;
  margin: 20px;
  background-color: rgba(0, 0, 0, 0.781);
  transition: all 0.2s;
  .displayFlex {
    display: flex;
    justify-content: space-between;
    h3{
      color: #FFF;
    }
    div {
      display: flex;
      justify-content: space-evenly;
      *{
        margin: 0 10px;
      }
    }
  }
}

.submmitedFormsCard:hover {
  transform: scale(1.01);
  box-shadow: 2px 2px 6px #000;
}