$line-color: #474744;

.concertDataContainer {
  margin: 5px;
  padding: 10px;
  color: #FFF;

  h3, h5, h4 {
    color: rgb(231, 228, 228);
    text-shadow: 0px 1px 2px rgb(0, 0, 0);
  }

  h3 {
    color: rgb(231, 228, 228);
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
  }

  span {
    color: rgb(231, 228, 228);
  }

  .information {
    border-top: 1px solid $line-color;
    margin: 2px;
    padding: 2px;
    align-items: center;
  }
}

.recommendation-page-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  Button {
    margin-right: 10px;
  }
}

.concert-data {
  justify-content: space-between;
}

.recommendation-page-body {
  background-image: $line-color;
  max-height: 84vh;
  overflow: auto;
  padding: 30px;
}


.summary-container {
  margin: 10px;
  padding: 10px 5px;
  color: #FFF;
  h3, h4 {
    color: #FFF;
  }
  
  .summary {
    padding: 10px 10px;
    background-color: rgb(26, 26, 26);
    margin: 10px 0px;
    border-left: 2px solid rgb(255, 123, 0);
  }

}

.card-container {
  width: 90%;
  margin: auto;
}