.chart-container {
    width: 100%;
    background-color: #999;
    border: 1px solid blue;

    .chart-heading {
        color: #ddd;
        text-align: center;
        text-shadow: 1px 1px 8px #000;
    }

    .chart {
        width: 40%;
        margin: 200px auto;
        box-shadow: 1px 1px 12px #000;
    }
}

.bubble{
    background-color: rgb(156, 245, 171);
    border-radius: 20%;
    color: #666;
    position: relative;
    width: fit-content;
    left: 80%;
    top: 30px;
    padding: 20px;
}