@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

.layout-container {
    height: 100vh;

    .layout-body {
        max-height: 90vh;
        overflow: auto;
        background: rgb(0, 0, 0);
    }
}

.layout-workspace {
    width: 100%;
    padding-bottom: 50px;

    .content-box {
        padding: 10px 20px;
        box-sizing: border-box;
        min-height: 200px;
        background-color: #222;
        color: #fff;
    }

    .summary-container{
        padding: 20px;
        background-color: rgba(1, 0, 32, 0.678);
        border-radius: 40px 0px;
        color: #cff;
        text-align: center;
        box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.836);
        margin: auto;

        h3 {
            color: #fff;
        }

        p {
            font-family: 'Indie Flower', cursive;
            font-size: large;
        }
    }

    .card-container{
        width: 100%;
        max-width: 800px;
        color: white;
        padding: 0px 20px;
        margin: 0 auto;  
    }
}

.questionsModal {
    box-shadow: 2px 2px 12px rgb(75, 71, 71);
}